/*
 * jQuery TipTop v1.0
 * http://dev7studios.com
 *
 * Copyright 2013, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */

.tiptop {
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	padding: 20px;
	font: 14px/1.6em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	background: #222;
	border-radius: 3px;
}